.modal {
    position: relative;
    display: flex;
    height: 50px;
}

.todo-item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 35px;
    align-items: center;
}
.addItemForm {
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
}
.addItemForm input {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid  #719ECE;
}
.addItemForm input:focus {
    outline: none !important;
    border: 1px solid #719ECE;
    box-shadow: 0 0 10px #719ECE;
}