.hamburger {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #bd5d38;
    background: linear-gradient(90deg, rgba(189,93,56,1) 50%, rgba(196,137,115,1) 100%);
    z-index: 3;
    left: 0;
    top: 65px;
    color: #fff;
    padding: 0 0 20px 0;
    width: 100%;
}
.hamburger-auth {
    display: flex;
}
.hamburger button {
    padding: 0 1rem;
    /* background: #bd5d38;
    background: linear-gradient(90deg, rgba(189,93,56,1) 50%, rgba(196,137,115,1) 100%); */
    color: #ffffff;
    font-size: 20px;
    justify-content: flex-start;
    display: flex;
}
.hamburger button:hover {
    background-color:  #a8431b;
}
.ham-logreg {
    display: flex;
    flex-direction: column;
}

@media (width: 500) {
    
}