/* header */

#header {
    height: 65px;
    background: #bd5d38;
    background: linear-gradient(90deg, rgba(189,93,56,1) 50%, rgba(196,137,115,1) 100%);
    /*background-color: #bd5d38;
     width: 100vw; */
}
.in-header {
    max-width: 900px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
#header .title {
    margin: 0;
    padding: 0 1rem;
    color: #343a40;
}
#header a:hover  {
    text-decoration: none;
}
.rightHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 30px;
}
.cart {
    position: relative;
}
.cart img {
    height: 30px;
    margin: 0 1rem;
}
.circle-items {
    position: absolute;
    top: -5px;
    right: 5px;
    border-radius: 25px;
    background-color: red;
    height: 22px;
    width: 22px;
    text-align: center;
    color: #000;
    font-weight: 900;
}
.auth-option {
    display: flex;
    height: 100%;
}
#header .auth-options {
    height: 100%;
    display: flex;
}
#header .auth-options button {
    padding: 0 1rem;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.1rem;
    width: 100%;
}
#header .auth-options button:hover {
    background-color: #bd5d38;
}
.myaccount-click {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.myaccount-click p {
    color: #ffffff;
    font-size: 1.1rem;
}
.myaccount-click img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.myaccount-click img:last-child {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
.hamburger-click {
    display: none;
}
.hamburger-click img {
    width: 35px;
}

@media (max-width: 800px) {
    .in-header {
        max-width: 600px;
    }
}

@media (max-width: 600px) {
    .in-footer {
        max-width: 100%px;
    }
    .rightHeader {
        padding-right: 30px;
    }
}
@media (max-width: 550px) {
    .auth-option {
        display: none;
    }
    .myaccount-click {
        display: none;
    }
    /*
    .auth-options {
        display: none;
    }*/
    .hamburger-auth {
        display: flex;
    } 
    .hamburger-click {
        display: flex;
    }
}